.conda/
.ipynb_checkpoints/
dataset_kaggle/
~$ndszámfelismerő rendszer benzinkutakhoz.docx
dataset/
runs/
dataset.zip
models/
Logic/output.avi
Logic/yolov8n.pt
Logic/__pycache__/LicensePlate.cpython-38.pyc
Logic/__pycache__/RealtimeTracking.cpython-38.pyc
Logic/__pycache__/RealtimeTracking.cpython-39.pyc
Logic/__pycache__/RealtimeTracking.cpython-310.pyc
Logic/__pycache__/utils.cpython-38.pyc
Logic/__pycache__/Vehicle.cpython-38.pyc
Logic/sortrep/.gitignore
Logic/sortrep/LICENSE
Logic/sortrep/README.md
Logic/sortrep/requirements.txt
Logic/sortrep/sort.py
Logic/sortrep/__pycache__/sort.cpython-38.pyc
Logic/sortrep/__pycache__/sort.cpython-310.pyc
Logic/sortrep/data/train/ADL-Rundle-6/det/det.txt
Logic/sortrep/data/train/ADL-Rundle-8/det/det.txt
Logic/sortrep/data/train/ETH-Bahnhof/det/det.txt
Logic/sortrep/data/train/ETH-Pedcross2/det/det.txt
Logic/sortrep/data/train/ETH-Sunnyday/det/det.txt
Logic/sortrep/data/train/KITTI-13/det/det.txt
Logic/sortrep/data/train/KITTI-17/det/det.txt
Logic/sortrep/data/train/PETS09-S2L1/det/det.txt
Logic/sortrep/data/train/TUD-Campus/det/det.txt
Logic/sortrep/data/train/TUD-Stadtmitte/det/det.txt
Logic/sortrep/data/train/Venice-2/det/det.txt
.gitignore
video_data/out_Shortest.avi
video_data/out_werror.avi
video_data/out.avi
video_data/testvideo_highway_avi.avi
video_data/testvideo_highway_mp4.mp4
video_data/testvideo_highway.mov
video_data/testvideo_short.mp4
video_data/testvideo_shortest.mp4
logs/log_Shortest_interpolated.csv
logs/log_Shortest.csv
