.conda/
.ipynb_checkpoints/
dataset_kaggle/
~$ndszámfelismerő rendszer benzinkutakhoz.docx
dataset/
yolov8n.pt
runs/detect/
dataset.zip
video_data/out_Shortest.avi
video_data/out_werror.avi
video_data/out.avi
video_data/testvideo_highway_avi.avi
video_data/testvideo_highway_mp4.mp4
video_data/testvideo_highway.mov
video_data/testvideo_short.mp4
video_data/testvideo_shortest.mp4
.gitignore
Logic/output.avi
Logic/__pycache__/LicensePlate.cpython-38.pyc
Logic/__pycache__/RealtimeTracking.cpython-38.pyc
Logic/__pycache__/RealtimeTracking.cpython-39.pyc
Logic/__pycache__/RealtimeTracking.cpython-310.pyc
Logic/__pycache__/utils.cpython-38.pyc
Logic/__pycache__/Vehicle.cpython-38.pyc
Logic/sortrep/LICENSE
Logic/sortrep/README.md
Logic/sortrep/requirements.txt
Logic/sortrep/sort.py
Logic/sortrep/__pycache__/sort.cpython-38.pyc
Logic/sortrep/__pycache__/sort.cpython-310.pyc
Logic/sortrep/data/train/ADL-Rundle-6/det/det.txt
Logic/sortrep/data/train/ADL-Rundle-8/det/det.txt
Logic/sortrep/data/train/ETH-Bahnhof/det/det.txt
Logic/sortrep/data/train/ETH-Pedcross2/det/det.txt
Logic/sortrep/data/train/ETH-Sunnyday/det/det.txt
Logic/sortrep/data/train/KITTI-13/det/det.txt
Logic/sortrep/data/train/KITTI-17/det/det.txt
Logic/sortrep/data/train/PETS09-S2L1/det/det.txt
Logic/sortrep/data/train/TUD-Campus/det/det.txt
Logic/sortrep/data/train/TUD-Stadtmitte/det/det.txt
Logic/sortrep/data/train/Venice-2/det/det.txt
logs/log_Shortest_interpolated.csv
logs/log_Shortest.csv
Models/
Models/YOLOv8/yolov8m_120e_cust.zip
Models/YOLOv8/yolov8n_30e.zip
Models/YOLOv8/yolov8n_60e_cust.zip
Models/YOLOv8/yolov8n_60e.zip
Models/YOLOv8/yolov8n_90e_cust.zip
Models/YOLOv8/yolov8n_120e_cust.zip
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/args.yaml
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/confusion_matrix_normalized.png
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/confusion_matrix.png
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/events.out.tfevents.1699283514.fd2e2c31f4f8.1167.0
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/F1_curve.png
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/labels_correlogram.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/labels.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/P_curve.png
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/PR_curve.png
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/R_curve.png
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/results.csv
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/results.png
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/train_batch0.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/train_batch1.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/train_batch2.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/train_batch2750.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/train_batch2751.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/train_batch2752.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/val_batch0_labels.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/val_batch0_pred.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/val_batch1_labels.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/val_batch1_pred.jpg
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/weights/best.onnx
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/weights/best.pt
Models/YOLOv8/yolov8m_120e_cust/runs/detect/train2/weights/last.pt
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/args.yaml
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/confusion_matrix_normalized.png
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/confusion_matrix.png
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/events.out.tfevents.1699286858.fd2e2c31f4f8.1167.1
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/F1_curve.png
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/labels_correlogram.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/labels.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/P_curve.png
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/PR_curve.png
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/R_curve.png
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/results.csv
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/results.png
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/train_batch0.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/train_batch1.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/train_batch2.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/train_batch2750.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/train_batch2751.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/train_batch2752.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/val_batch0_labels.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/val_batch0_pred.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/val_batch1_labels.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/val_batch1_pred.jpg
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/weights/best.onnx
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/weights/best.pt
Models/YOLOv8/yolov8n_120e_cust/runs/detect/train3/weights/last.pt
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/args.yaml
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/confusion_matrix_normalized.png
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/confusion_matrix.png
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/events.out.tfevents.1698656654.c2a7b950bef0.1018.1
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/F1_curve.png
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/labels_correlogram.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/labels.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/P_curve.png
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/PR_curve.png
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/R_curve.png
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/results.csv
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/results.png
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/train_batch0.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/train_batch1.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/train_batch2.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/train_batch500.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/train_batch501.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/train_batch502.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/val_batch0_labels.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/val_batch0_pred.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/val_batch1_labels.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/val_batch1_pred.jpg
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/weights/best.onnx
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/weights/best.pt
Models/YOLOv8/yolov8n_30e_pre/runs/detect/train/weights/last.pt
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/args.yaml
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/confusion_matrix_normalized.png
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/confusion_matrix.png
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/events.out.tfevents.1698660418.c2a7b950bef0.1018.3
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/F1_curve.png
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/labels_correlogram.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/labels.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/P_curve.png
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/PR_curve.png
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/R_curve.png
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/results.csv
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/results.png
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/train_batch0.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/train_batch1.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/train_batch2.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/train_batch1250.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/train_batch1251.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/train_batch1252.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/val_batch0_labels.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/val_batch0_pred.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/val_batch1_labels.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/val_batch1_pred.jpg
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/weights/best.onnx
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/weights/best.pt
Models/YOLOv8/yolov8n_60e_cust/runs/detect/train3/weights/last.pt
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/args.yaml
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/confusion_matrix_normalized.png
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/confusion_matrix.png
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/events.out.tfevents.1698659145.c2a7b950bef0.1018.2
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/F1_curve.png
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/labels_correlogram.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/labels.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/P_curve.png
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/PR_curve.png
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/R_curve.png
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/results.csv
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/results.png
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/train_batch0.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/train_batch1.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/train_batch2.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/train_batch1250.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/train_batch1251.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/train_batch1252.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/val_batch0_labels.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/val_batch0_pred.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/val_batch1_labels.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/val_batch1_pred.jpg
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/weights/best.onnx
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/weights/best.pt
Models/YOLOv8/yolov8n_60e_pre/runs/detect/train2/weights/last.pt
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/args.yaml
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/confusion_matrix_normalized.png
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/confusion_matrix.png
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/events.out.tfevents.1698664594.c2a7b950bef0.1018.4
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/F1_curve.png
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/labels_correlogram.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/labels.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/P_curve.png
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/PR_curve.png
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/R_curve.png
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/results.csv
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/results.png
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/train_batch0.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/train_batch1.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/train_batch2.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/train_batch2000.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/train_batch2001.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/train_batch2002.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/val_batch0_labels.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/val_batch0_pred.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/val_batch1_labels.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/val_batch1_pred.jpg
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/weights/best.onnx
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/weights/best.pt
Models/YOLOv8/yolov8n_90e_cust/runs/detect/train4/weights/last.pt
