.conda/
.ipynb_checkpoints/
dataset_kaggle/
~$ndszámfelismerő rendszer benzinkutakhoz.docx
dataset/
yolov8n.pt
runs/detect/
models/
dataset.zip
video_data/
hough.ipynb
Logic/sortrep
Logic/__pycache__/RealtimeTracking.cpython-38.pyc
Logic/__pycache__/RealtimeTracking.cpython-39.pyc
Logic/__pycache__/RealtimeTracking.cpython-310.pyc
Logic/output.avi
Logic/log_interpolated.csv
Logic/log.csv
Logic/__pycache__/LicensePlate.cpython-38.pyc
Logic/__pycache__/utils.cpython-38.pyc
Logic/__pycache__/Vehicle.cpython-38.pyc
logs/
logs/log_interpolated.csv
logs/log.csv
logs/log_interpolated.csv